.navbar {
  background-color: rgb(33, 37, 41);
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer {
  padding: 0 !important;
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
  .navbar {
    display: none;
  }
}
