@font-face {
  font-family: "Cairo";
  src: local("Cairo"),
    url("./assets/fonts/Cairo-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo";
}

::selection {
  background-color: #1da1f2;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #1da1f2;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1da1f2ec;
}

.ant-menu .ant-menu-inline.ant-menu-sub {
  background: white !important;
}

.ant-menu .ant-menu-sub.ant-menu-vertical {
  background: white !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: 0px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px !important;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
